* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C6EBC5;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: #F3F7EC;
    width: 100vh;
    height: 85vh;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container > h1 {
    color: #98c379;
    font-size: 40px;
    margin-top: 30px;
}

#location-input {
    height: 30px;
    width: 50%;
    min-width: 300px; 
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    font-size: 14px;
    outline: none;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#location-input::placeholder {
    color: #475b38;
}

#location-input:focus {
    border: 2px solid #98c379;
}

#location-input:hover {
    border: 2px solid #98c379;
}

#map {
    height: 66%;
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

#weather-info > section {
    display: flex;
}

.weather-icon {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weather-img {
    width: 50px;
    border-radius: 50%;
}

#weather-info > .footer {
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px;
}

.footer > div > h2 {
    font-size: 1.7rem;
}

#weather-info > div > p {
    color: black;
    font-size: 0.4rem;
}

#weather-info .footer > span {
    color: rgba(59, 59, 59, 0.629);
    font-size: 25px;
}

@media screen and (max-width: 900px){
    .container {
        width: 90vw;
    }
    
    .container > h1 {
        font-size: 5vw;
    }

    #weather-info > .footer {
        gap: 4vw;
    }

    .footer > div > h2 {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 430px){
    #location-input {
        width: 90%;
        min-width: 200px;
    }
}